<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="96f7883ae615ea3c600d6b9616a55ff0dc3cf2fc" />
    <add key="URL" value="https://api-demo.fxcm.com" />
    <add key="Instrument" value="GBP/USD" />
    <add key="Timeframe" value="m15" />
    <add key="DateFrom" value="20191017" />
    <add key="DateTo" value="20191018" />
    <add key="Count" value="5" />
    <add key="BuySell" value="Buy" />
    <add key="Lots" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
